.powells-search-row .search-result-left-img { 
  float:left;
  margin-right: 10px;
  width: 107px;
  height: 140px;
}
.powells-search-row .search-result-left {
  float:left;
  width: 100%;
}
.powells-search-row {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  width: 100%;
}
